ion-slides {
  min-height: 100%;
}

.swiper-slide {
  align-items: baseline;
  justify-content: flex-start;
  text-align: left;
}


.face2 {
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  max-width: 36px;
  background: url('/assets/faces/meh-blank-regular.svg') no-repeat center;
  background-size: contain;

  &.happy {
    background: url('/assets/faces/smile-regular.svg') no-repeat center;
    background-size: contain;
  }

  &.indifferent {
    background: url('/assets/faces/meh-regular.svg') no-repeat center;
    background-size: contain;
  }

  &.sad {
    background: url('/assets/faces/frown-regular.svg') no-repeat center;
    background-size: contain;
  }
  &.unknown {
    background: url('/assets/faces/meh-blank-regular.svg') no-repeat center;
    background-size: contain;
  }

}

.unread-badge {
  font-size: 0.85rem;
  background: #fff;
  color: #191919;
  padding: 0.2rem 0.38rem;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  line-height: 15px;
  display: inline-block;
}

.unread-list-badge {
  font-size: 0.85rem;
  border-radius: 50%;
  padding: 0.2rem 0.38rem;
}

.sortable {
  span {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    mask-image: url('/assets/icons/sort-solid.svg');
    background-color: black;
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
  }
  .up {
    mask-image: url('/assets/icons/sort-up-solid.svg');
  }
  .down {
    mask-image: url('/assets/icons/sort-down-solid.svg');
  }
}
.android-nav-buttons {
  ion-segment-button {
    --indicator-color: #ECAC64;
    --color-checked: #ECAC64;
  }
}

.ios-nav-buttons {
  ion-segment {
      background-color: #e6d0b6;
  }
  ion-segment-button {
      --indicator-color: #fff;
      --color-checked: #ECAC64;
    }
}
@media (prefers-color-scheme: dark) {
  .sortable {
    span {
      background-color: white;
    }
  }
}


.metric {
  .progress-ring__circle {
    transition: stroke-dashoffset 0.7s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 251.3274122872 251.3274122872;
    stroke-dashoffset: 251.3274122872;
  }

  .circle {
    border-radius: 50%;
    color: #191919;
    font-size: 48px;
    line-height: 100px;
    width: 100px;
    height: 100px;
    margin: 0px auto 10px auto;
    text-align: center;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    position: relative;
    &.happy {
      background: #E0EFDC;
    }
    &.indifferent {
      background: #FEF4C8;
    }
    &.sad {
      background: #F5D7D2;
    }
  }

  .face {
      position: absolute;
      top: 21px;
      left: 22px;
      width: 56px;
      z-index: 2;
      &.fa-smile {
        color: #3AA662;
      }
      &.fa-meh {
        color: #F8D640;
      }
      &.fa-frown {
        color: #D93B3E;
      }
  }
  .circle:after {
    content: '';
    background: #fff;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 18px;
    left: 18px;
    border-radius: 50%;
    z-index: 1;
  }

}

ion-tab-bar {
  background: #FDEEE6;
}
ion-tab-button {
  background: #FDEEE6;
}

@media (prefers-color-scheme: dark) {
  ion-tab-bar {
    background: #000;
  }
  ion-tab-button {
    background: #000;
  }
}

.ion-toolbar {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.20);
  padding-bottom: 0px !important;
}

ion-progress-bar {
  --buffer-background: #e187af;
  --progress-background: var(--ion-color-purple);
}

ion-footer {
  ion-label {
    margin-bottom: 0.5rem;
  }
}
