<ion-header class="ion-no-border">
  <ion-toolbar color="cinderella">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="cinderella">
  <div class="h-screen flex flex-col justify-center">
    <div>
      <p class="mt-2 mb-8 mx-4 text-sm text-gray-500 text-center">To change your password, enter your current password and then enter your new password. Your new password should have at least 6 characters.</p>

      <form (ngSubmit)="change_password()" [formGroup]="change_password_form" class="max-w-lg mx-auto px-4">

        <div class="rounded overflow-hidden mb-4 border border-gray-300">

          <ion-item>
            <ion-input type="password" placeholder="Current password" formControlName="current_password" autocomplete="new-password" required="true" clearOnEdit="false"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="New password" formControlName="new_password" autocomplete="new-password" required="true" clearOnEdit="false"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input type="password" placeholder="Confirm password" formControlName="new_password_confirmation" autocomplete="new-password" required="true" clearOnEdit="false"></ion-input>
          </ion-item>

        </div>

        <ion-button type="submit" expand="block" color="purple" [disabled]="!change_password_form.valid">Change Password</ion-button>
        <ion-button color="secondary" expand="block" class="mt-6 text-purple-500" (click)="back()">Back</ion-button>
      </form>
    </div>
  </div>
</ion-content>
