<ion-card class="scroll-item" color="light">
  <ion-skeleton-text animated style="height:180px; margin-top:0; width: 350px;"></ion-skeleton-text>
  <ion-card-header [translucent]="false">
    <ion-card-subtitle>
      <ion-skeleton-text animated style="height: 12px; width: 62px;"></ion-skeleton-text>
    </ion-card-subtitle>
    <ion-card-title>
      <ion-skeleton-text animated style="height: 26px;"></ion-skeleton-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="grid grid-cols-2">
    <div>
      <ion-card-subtitle>
        <ion-skeleton-text animated style="height: 12px; width: 84px;"></ion-skeleton-text>
      </ion-card-subtitle>
      <div class="mini-icons flex gap-2 mt-2">
        <ion-skeleton-text animated style="height: 30px; width: 30px;" class="rounded-full"></ion-skeleton-text>
        <ion-skeleton-text animated style="height: 30px; width: 30px;" class="rounded-full"></ion-skeleton-text>
      </div>
    </div>
    <div>
      <ion-card-subtitle>
        <ion-skeleton-text animated style="height: 12px; width: 50px;"></ion-skeleton-text>
      </ion-card-subtitle>
      <div class="mini-icons flex gap-2 mt-2">
        <ion-skeleton-text animated style="height: 30px; width: 30px;" class="rounded"></ion-skeleton-text>
        <ion-skeleton-text animated style="height: 30px; width: 30px;" class="rounded"></ion-skeleton-text>
      </div>
    </div>
  </ion-card-content>
</ion-card>
