<ion-header>
  <ion-toolbar color="dark-green">
    <ion-title>
      Settings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item detail="false">
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>
        <h1>Care home</h1>
        <p>{{ carehome }}<ion-spinner *ngIf="!carehome"></ion-spinner></p>
      </ion-label>
    </ion-item>
    <ion-item detail="false">
      <ion-icon name="cube" slot="start"></ion-icon>
      <ion-label>
        <div *ngIf="!package_headline">
          <h2>Package</h2>
          <p>
            <ion-spinner *ngIf="!carehome"></ion-spinner>
          </p>
        </div>
        <h2>{{ package_headline }}</h2>
        <p>{{ package_description }}</p>
        <p *ngIf="package && package != 'Package A'">Expires on {{ expires }}</p>
        <p *ngIf="package == 'Package A'">Forever free</p>
        <p *ngIf="expired && package != 'Package A'" style="color: red;">Your package has expired</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="mt-8">
    <ion-item button (click)='gotoLink("https://wellbeing.relish-life.com/nova/login")'>
      <ion-icon name="hammer" slot="start"></ion-icon>
      <ion-label>Administrators Login</ion-label>
    </ion-item>
    <ion-item href="mailto:support@relish-life.com">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>Contact Support</ion-label>
    </ion-item>
    <ion-item button (click)='gotoLink("https://relish-life.com/page/terms/");'>
      <ion-icon name="create" slot="start"></ion-icon>
      <ion-label>Terms & Conditions</ion-label>
    </ion-item>
    <ion-item button (click)='gotoLink("https://relish-life.com/page/privacy-policy/");'>
      <ion-icon name="create" slot="start"></ion-icon>
      <ion-label>Privacy Policy</ion-label>
    </ion-item>
    <ion-item button (click)='changePassword()'>
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-label>Change Password</ion-label>
    </ion-item>
    <ion-item button (click)="logout()">
      <ion-icon name="log-out" slot="start"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
    <ion-item detail="false">
      <ion-icon name="logo-apple-appstore" slot="start"></ion-icon>
      <ion-label>{{ versionNumber }}{{ buildNumber }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
