
<ion-content class="starter-page">
  <div class="m-4 text-center text-black max-w-lg mx-auto px-4">
    <div class="flex justify-center pt-28">
      <img class="w-2/5 h-2/5" src="../../../assets/logo-icon.png">
    </div>
    <ion-item lines="none" class="starter-item pt-8">
      <ion-label class="text-center">
        <div class="pt-2 text-3xl text-gray-600">Promoting Wellbeing</div>
        <div class="pt-2 text-3xl text-gray-600">Through Lifestyle</div>
        <ion-button color="purple" class="mt-36 h-12 w-52 text-gray-700" (click)="start()" >Get Started</ion-button>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
